<h1>
  Página Inicial
</h1>

<p>
  <%= link_to 'Cadastre-se', new_user_registration_path %> no site.
</p>
<p>
  <%= link_to 'Acesse', user_session_path %>.
</p>
<p>
  <%= link_to 'Inscreva-se', new_estagio_path %>.
</p>
