<p>
  <b>Inscrições encerradas.</b> Local, horário e data da prova será publicado no <%= link_to 'site oficial da Justiça Federal do Amapá', "http://portal.trf1.jus.br/sjap/concursos/estagios/ps-secao-judiciaria-do-amapa-2018.htm" %>.
</p>